<div class="container">
  <div class="row">
    <div class="col-md-4">
        <%= simple_form_for (@cocktail) do |f| %>
          <%= f.input :description, label: 'change description? really?!' %>
          <%= f.submit "go for it", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>

