// Specific CSS for your home-page
.text-white {
  color: white;
}

body {background-image: url("https://images.unsplash.com/photo-1513614825922-8fdb7f6ee617?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=91d63a4bfba36d4c4267d053190289ed&auto=format&fit=crop&w=2043&q=80");
background-position: cover;
height: 100vh;
}


