label {font-weight: 300}

.show-content{
  position: relative;
  width:900px;
  justify-content: center;
  margin: 0px auto;
  height: 100vh;
}

.cocktail_header {
  height: 400px;
  width: 400px;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 40vw;
  top: -10vh;
  padding: 20px;
}

.cocktail_doses{
  position: absolute;
  width: 450px;
  background-color: white;
  margin: 10px auto;
  padding: 30px;
  left: 100;
  bottom: 300;
}

.back_home{
  position: absolute;
  top: 65vh;
  left: 1vw;
}


i.fas.fa-edit,i.fas.fa-trash-alt {
    font-size: 12px;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
}

a {color:black;
font-size: 14px;}

a:hover {
  text-decoration: none;
  color: black;}

input#cocktail_photo {
    font-size: 12px;
}

.btn-submit, input.btn.btn-primary {
    background-color: white!important;
    color: black;
    border: 1px solid;
    font-size: 14px;
}

.btn.btn-primary:hover{
  background-color: black!important;
  color: white;
}

input#dose_description.placeholder{
  font-size: 12px;
}

span.select2-selection.select2-selection--single,input#dose_description, input#cocktail_name, textarea#cocktail_description {
    border: none;
    box-shadow: none;
    border: 1px solid black;
}

input#dose_description{border:none; border-bottom: 1px solid black}

.backto {
    transform: translateX(100px)!important;
    width:300px
}

.backto a{font-size: 16px; color:black; display: block}

.select2-container--default{background-color: black; font-size: 12px}

.select2-container--default .select2-results__option--highlighted[aria-selected]{background-color: black!important;}


@media (max-width: 840px) {
 .cocktail_header{width:300px;
 }
 .cocktail_doses{width:300px;
  top: 280px}
  .back_home img{display:none}
  .back_home{top: 700px}
}
