.card {
  height: 300px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  padding: 20px;
  position: relative;
  margin: 20px 0px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 10px;
  text-transform: uppercase;
  background-color: white;
  padding: 5px;
  color: black;
  text-shadow: none;

}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.card-description h2 {
  font-size: 26px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
